<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mever.api.domain.mainAdmin.repository.MainMapper">
    <select id="getMenuList" resultType="Menu">
        SELECT *
        FROM market.menu
        WHERE use_yn ='Y'
        order by order_num
    </select>
    <select id="getRate" resultType="AnalyticsDto">
        SELECT (select count(*) from market.reservation where category='/modelhouse1/') as rateCounting,
               (select count(*) from market.member where category='/modelhouse1/') as users
        FROM market.member a
        limit 1
    </select>
    <select id="getRanking" resultType="MemberReq">
        select  *
        from    market.member
        where   category ='/modelhouse1/'
        order by share_count desc
        limit 5
    </select>
</mapper>